# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Muhammad Giat
- **Email:** giat030503@gmail.com
- **ID Dicoding:** Muhammad Giat

## Menentukan Pertanyaan Bisnis

- Bagaimana pola pembelian pelanggan berdasarkan kategori produk?
- Apakah ada korelasi antara rating produk dan jumlah ulasan yang diberikan oleh pelanggan?
- Bagaimana distribusi geografis pelanggan berdasarkan kode pos mereka?

## Import Semua Packages/Library yang Digunakan

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib

## Data Wrangling

Pada proses data wrangling ini,ada 3 tahapan :
- Gathering data
- Assessing data
- Cleaning data

### Gathering Data

In [40]:
customers_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/customers_dataset.csv') 
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [41]:
geolocation_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/geolocation_dataset.csv')
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [42]:
order_items_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/order_items_dataset.csv')
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [43]:
orders_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/orders_dataset.csv')
orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [44]:
products_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/products_dataset.csv')
products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [45]:
product_category_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/product_category_name_translation.csv')
product_category_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [46]:
order_reviews_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/order_reviews_dataset.csv')
order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [47]:
order_pay_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/order_payments_dataset.csv')
order_pay_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [48]:
sellers_df = pd.read_csv('https://raw.githubusercontent.com/mhmmadgiatt/Proyek-Analisis-Data-E-Commerce/main/data/sellers_dataset.csv')
sellers_df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

### Assessing Data

1. Memahami setiap informasi dari dataset

In [54]:
print('\n', customers_df.info())
print('\n', geolocation_df.info())
print('\n', order_items_df.info())
print('\n', orders_df.info())
print('\n', products_df.info())
print('\n', product_category_df.info())
print('\n', order_reviews_df.info())
print('\n', order_pay_df.info())
print('\n', sellers_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

 None

2. Mengecek apakah ada Missing values pada dataset

In [72]:
print('\nInfo missing values data customers:\n', customers_df.isnull().sum())
print('\nInfo missing values data geolocation:\n', geolocation_df.isnull().sum())
print('\nInfo missing values data order_items:\n', order_items_df.isnull().sum())
print('\nInfo missing values data orders:\n', orders_df.isnull().sum())
print('\nInfo missing values data products:\n', products_df.isnull().sum())
print('\nInfo missing values data product_category:\n', product_category_df.isnull().sum())
print('\nInfo missing values data order_reviews:\n', order_reviews_df.isnull().sum())
print('\nInfo missing values data order_pay:\n', order_pay_df.isnull().sum())
print('\nInfo missing values data sellers:\n', sellers_df.isnull().sum())

Info missing values data customers:
 customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Info missing values data geolocation:
 geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Info missing values data order_items:
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Info missing values data orders:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Info missing values data products:
 product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Info missing values data product_category:
 product_category_name            0
product_category_name_english    0
dtype: int64

Info missing values data order_reviews:
 review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Info missing values data order_pay:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Info missing values data sellers:
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

2. Mendeskripsikan dataset

In [74]:
print('deskripsikan data customers:\n', customers_df.describe())
print('deskripsikan data geolocation:\n', geolocation_df.describe())
print('deskripsikan data order_items:\n', order_items_df.describe())
print('deskripsikan data orders:\n', orders_df.describe())
print('deskripsikan data products:\n', products_df.describe())
print('deskripsikan data product_category:\n', product_category_df.describe())
print('deskripsikan data order_reviews:\n', order_reviews_df.describe())
print('deskripsikan data order_pay:\n', order_pay_df.describe())
print('deskripsikan data sellers:\n', sellers_df.describe())

deskripsikan data customers:
        customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000
deskripsikan data geolocation:
        geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02
deskripsikan data order_items:
        order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000
deskripsikan data orders:
                                 order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-04-11 10:48:14  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 23:38:46
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522
deskripsikan data products:
        product_name_lenght  product_description_lenght  product_photos_qty  \
count         32341.000000                32341.000000        32341.000000
mean             48.476949                  771.495285            2.188986
std              10.245741                  635.115225            1.736766
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32949.000000       32949.000000       32949.000000
mean        2276.472488          30.815078          16.937661
std         4282.038731          16.914458          13.637554
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32949.000000
mean          23.196728
std           12.079047
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000
deskripsikan data product_category:
        product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1
deskripsikan data order_reviews:
        review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000
deskripsikan data order_pay:
        payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000
deskripsikan data sellers:
        seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

3. Mengecek apakah data Duplikat

In [88]:
print('data duplicate customers:', customers_df.duplicated().sum())
print('data duplicate geolocation:', geolocation_df.duplicated().sum())
print('data duplicate order_items:', order_items_df.duplicated().sum())
print('data duplicate orders:', orders_df.duplicated().sum())
print('data duplicate products:', products_df.duplicated().sum())
print('data duplicate product_category:', product_category_df.duplicated().sum())
print('data duplicate order_reviews:', order_reviews_df.duplicated().sum())
print('data duplicate order_pay:', order_pay_df.duplicated().sum())
print('data duplicate sellers:', sellers_df.duplicated().sum())

data duplicate customers: 0
data duplicate geolocation: 0
data duplicate order_items: 0
data duplicate orders: 0
data duplicate products: 0
data duplicate product_category: 0
data duplicate order_reviews: 0
data duplicate order_pay: 0
data duplicate sellers: 0

### Cleaning Data

In [107]:
order_reviews_df = order_reviews_df.dropna(subset=['review_comment_title'])
print('Info missing values data order_reviews:\n', order_reviews_df.isnull().sum())

Info missing values data order_reviews:
 review_id                     0
order_id                      0
review_score                  0
review_comment_title          0
review_comment_message     1729
review_creation_date          0
review_answer_timestamp       0
dtype: int64

In [103]:
merged_order_df = pd.merge(orders_df, order_items_df, on='order_id')
print(merged_order_df.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date  order_item_id  \
0           2017-10-18 00:00:00              1
1           2018-08-13 00:00:00              1
2           2018-09-04 00:00:00              1
3           2017-12-15 00:00:00              1
4           2018-02-26 00:00:00              1

                         product_id                         seller_id  \
0  87285b34884572647811a353c7ac498a  3504c0cb71d7fa48d967e0e4c94d59d9
1  595fac2a385ac33a80bd5114aec74eb8  289cdb325fb7e7f891c38608bf9e0962
2  aa4383b373c6aca5d8797843e5594415  4869f7a5dfa277a7dca6462dcf3b52b2
3  d0b61bfb1de832b15ba9d266ca96e5b0  66922902710d126a0e7d26b0e3805106
4  65266b2da20d04dbe00c5c2d3bb7859e  2c9e548be18521d1c43cde1c582c6de8

   shipping_limit_date   price  freight_value
0  2017-10-06 11:07:15   29.99           8.72
1  2018-07-30 03:24:27  118.70          22.76
2  2018-08-13 08:55:23  159.90          19.22
3  2017-11-23 19:45:59   45.00          27.20
4  2018-02-19 20:31:37   19.90           8.72

In [105]:
merged_product_df= pd.merge(products_df, product_category_df, on='product_category_name')
print(merged_product_df.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm  \
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

  product_category_name_english
0                     perfumery
1                           art
2                sports_leisure
3                          baby
4                    housewares

In [108]:
merged_review_df = pd.merge(merged_order_df, order_reviews_df, on='order_id')
print(merged_review_df.head())

                           order_id                       customer_id  \
0  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
1  dcb36b511fcac050b97cd5c05de84dc3  3b6828a50ffe546942b7a473d70ac0fc
2  f3e7c359154d965827355f39d6b1fdac  62b423aab58096ca514ba6aa06be2f98
3  acce194856392f074dbf9dada14d8d82  7e20bf5ca92da68200643bda76c504c6
4  acce194856392f074dbf9dada14d8d82  7e20bf5ca92da68200643bda76c504c6

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
1    delivered      2018-06-07 19:03:12  2018-06-12 23:31:02
2    delivered      2018-08-09 11:44:40  2018-08-10 03:24:51
3    delivered      2018-06-04 00:00:13  2018-06-05 00:35:10
4    delivered      2018-06-04 00:00:13  2018-06-05 00:35:10

  order_delivered_carrier_date order_delivered_customer_date  \
0          2018-07-26 14:31:00           2018-08-07 15:27:45
1          2018-06-11 14:54:00           2018-06-21 15:34:32
2          2018-08-10 12:29:00           2018-08-13 18:24:27
3          2018-06-05 13:24:00           2018-06-16 15:20:55
4          2018-06-05 13:24:00           2018-06-16 15:20:55

  order_estimated_delivery_date  order_item_id  \
0           2018-08-13 00:00:00              1
1           2018-07-04 00:00:00              1
2           2018-08-17 00:00:00              1
3           2018-07-18 00:00:00              1
4           2018-07-18 00:00:00              2

                         product_id                         seller_id  \
0  595fac2a385ac33a80bd5114aec74eb8  289cdb325fb7e7f891c38608bf9e0962
1  009c09f439988bc06a93d6b8186dce73  89a51f50b8095ea78d5768f34c13a76f
2  e99d69efe684efaa643f99805f7c81bc  55c26bcb609f480eb7868594245febb5
3  d70f38e7f79c630f8ea00c993897042c  977f9f63dd360c2a32ece2f93ad6d306
4  9451e630d725c4bb7a5a206b48b99486  d673a59aac7a70d8b01e6902bf090a11

   shipping_limit_date  price  freight_value  \
0  2018-07-30 03:24:27  118.7          22.76
1  2018-06-18 18:59:02  132.4          14.05
2  2018-08-14 03:24:51   89.9          14.21
3  2018-06-13 00:35:10   90.9          48.64
4  2018-06-13 00:35:10   39.5          48.64

                          review_id  review_score review_comment_title  \
0  8d5266042046a06655c8db133d120ba5             4     Muito boa a loja
1  5a8608437f4b52bec5cd143f37258b5e             5             Nota dez
2  9a55cbc65c8fad47581da5ebbb2b373e             5               Ótimo
3  2d4303fd561eb4ab51c87faa6598dc10             1   NÃO RECOMENDO!!!!
4  2d4303fd561eb4ab51c87faa6598dc10             1   NÃO RECOMENDO!!!!

                              review_comment_message review_creation_date  \
0                               Muito bom o produto.  2018-08-08 00:00:00
1  Obrigado pela atenção. Lojas lannister perfeit...  2018-07-03 00:00:00
2  Sempre vou comprar aqui pois é a melhor parabéns   2018-08-14 00:00:00
3  Até o momento não recebi o produto Protetor De...  2018-06-17 00:00:00
4  Até o momento não recebi o produto Protetor De...  2018-06-17 00:00:00

  review_answer_timestamp
0     2018-08-08 18:37:50
1     2018-07-03 15:10:07
2     2018-08-14 21:52:46
3     2018-06-20 11:38:22
4     2018-06-20 11:38:22

## Exploratory Data Analysis (EDA)

### Explore ...

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2